@font-face {
  font-family: 'overpassregular';
  src: url('#{$staticpath}static/unleash/fonts/overpass-regular-webfont.woff2') format('woff2'),
       url('#{$staticpath}static/unleash/fonts/overpass-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'overpass_blackregular';
  src: url('#{$staticpath}static/unleash/fonts/overpass-black-webfont.woff2') format('woff2'),
       url('#{$staticpath}static/unleash/fonts/overpass-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}