
$staticpath: 'https://www.centrallecheraasturiana.es/unlitrounregalo/test/';
$staticpath: '/';
$fontpath: '/static/fonts/';
$break-mobile: 800px;
//sizes
$pagewidth: 1600px;
// colors
$black: #000;
$fontcolor: white;
$magenta: #FF00FF;