$staticpath: '/';
$fontpath: 'static/minsait/fonts/';
$break-mobile: 600px;
//sizes
$pagewidth: 1024px;
$pagewidth2: 600px;
// colors
$black: #000;
$fontcolor: white;
$blue: #1a3b47;
$darkblue: #0f242c;
$softblue: #40c7b5;